<h1>RxJS</h1>

<h2>Creating Observables</h2>
<div>
  <p style="font-weight: bold;">Starter Pokemon</p>
  <p *ngFor="let p of pokemon">{{p}}</p>
</div>

<div>
  <p style="font-weight: bold;">From</p>
  <p *ngFor="let f of from">{{f}}</p>
</div>

<div>
  <p style="font-weight: bold;">Range</p>
  <p *ngFor="let r of range">{{r}}</p>
</div>

<div>
  <p style="font-weight: bold;">Interval</p>
  <p>{{interval}}</p>
  <p>{{countdown}}</p>
</div>

<h2>Operations</h2>
<div>
  <p style="font-weight: bold;">Map</p>
  <p *ngFor="let m of map">{{m}}</p>
</div>

<div>
  <p style="font-weight: bold;">Filter</p>
  <p *ngFor="let f of filter">{{f}}</p>
</div>

<div>
  <p style="font-weight: bold;">Reduce</p>
  <p *ngFor="let r of reduce">{{r}}</p>
</div>

<div>
  <p style="font-weight: bold;">Scan</p>
  <p *ngFor="let s of scan">{{s}}</p>
</div>

<div>
  <p style="font-weight: bold;">Flat Map</p>
  <p *ngFor="let fM of flatMap">
    {{fM.name}}
    <span *ngFor="let type of fM.type">{{type}} </span>
  </p>
</div>

<div>
  <p style="font-weight: bold;">Pluck</p>
  <p *ngFor="let p of pluck">{{p}}</p>
</div>

<div>
  <p style="font-weight: bold;">Stringify</p>
  <p *ngFor="let p of stringify">{{p}}</p>
</div>

<div>
  <p style="font-weight: bold;">Pipe</p>
  <p *ngFor="let p of pipe">
    <span *ngFor="let name of p">{{name}} </span>
  </p>
</div>
