<h1>Data Binding</h1>

<h2>Interpolation</h2>
<div>{{helloWorld}}!</div>
<div>{{helloWorld + "!"}}</div>
<div>2+2={{2+3}}</div>
<div>2+2={{returnFive()}}</div>
<div>2+2={{returnFive(2, 2)}}</div>

<h2>Event Binding</h2>
<div>
  <button (click)="rollForInitiative()">Roll for initiative</button>
  {{roll === undefined ? "" : 'Rolled ' + roll}}
  <button (click)="doEvil()">Do Evil</button>
</div>

<h2>Property Binding</h2>
<div>
  <matf-child [parent]="'parent component'"></matf-child>
</div>

<h2>Two-way Data Binding</h2>
<div>
  <input [value]="name" (input)="name = $event.target.value"/>
  <span>{{name}}</span>
</div>
<div>
  Name: <input [(ngModel)]="name"/>
  Hello {{name}}!
</div>

<div>
  <matf-counter [counter]="3" (counterChange)="counterChanged($event)"></matf-counter>
  {{'Counted ' + counter}}
</div>

<div>
  <matf-counter [(counter)]="bananaCounter"></matf-counter>
  {{'Banana Counted ' + bananaCounter}}
</div>

<h2>Pipes</h2>
<div>
  Today is {{today}}
</div>

<div>
  Today is {{today | date}}
</div>

<div>
  Today is {{today | date: 'MM/dd/yyyy'}}
</div>

<div>
  {{'The problem withquotes onthe internet is that it is hard to verify their authenticity.' | quote: 'Abraham Lincoln'}}
</div>

<div>
  {{'jJDIjsdkI890asD' | lowercase}}
</div>

<div>
  {{'UPERCASE' | lowercase | uppercase}}
</div>

<h2>Style Binding</h2>
<div>
  <button (click)="putOnCostume()">Put on Wolverine costume</button>
  <span [ngClass]="{'wolverine': isWolverine}">Wolverine</span>
  <span [class.wolverine]="isWolverine">Wolverine</span>
  <span [style.color]="isWolverine ? 'red' : 'blue'">Wolverine</span>
</div>