<h1>Data Binding</h1>

<h2>Interpolation</h2>
<div>{{helloWorld}}!</div>
<div>{{helloWorld + "!"}}</div>
<div>2+2={{2+3}}</div>
<div>2+2={{returnFive()}}</div>
<div>2+2={{returnFive(2, 2)}}</div>

<h2>Event Binding</h2>
<div>
  <button (click)="rollForInitiative()">Roll for initiative</button>
  {{roll === undefined ? "" : 'Rolled ' + roll}}
</div>
<div>
  <button (click)="doEvil()">Do Evil</button>
  {{evilScript}}
</div>

<h2>Property Binding</h2>
<div>
  <matf-child [parent]="'parent component'"></matf-child>
</div>

<h2>Two-way Data Binding</h2>
<div>
  <input [value]="name" (input)="name = $event.target.value"/>
  <span>{{name}}</span>
</div>
<div>
  Name: <input [(ngModel)]="name"/>
  Hello {{name}}!
</div>

<div>
  <matf-counter [counter]="3" (counterChange)="counterChanged($event)"></matf-counter>
  {{'Counted ' + counter}}
</div>

<div>
  <matf-counter [(counter)]="bananaCounter"></matf-counter>
  {{'Banana Counted ' + bananaCounter}}
</div>

<h2>Pipes</h2>
<div>
  Today is {{today}}
</div>

<div>
  Today is {{today | date}}
</div>

<div>
  Today is {{today | date: 'MM/dd/yyyy'}}
</div>

<div>
  {{'The problem with quotes on the internet is that it is hard to verify their authenticity.' | quote: 'Abraham Lincoln'}}
</div>

<div>
  {{'ThIs sTRIng iS in VARIabLe CaPS!' | lowercase}}
</div>

<div>
  {{'UPERCASE' | lowercase | uppercase}}
</div>

<h2>Style Binding</h2>
<div>
  <p>
    <button (click)="toggleWolverineCostume()">{{isWolverine ? 'Take off' : 'Put on'}} Wolverine costume</button>
    <span [ngClass]="{'wolverine': isWolverine, 'superhero': isWolverine}">{{isWolverine ? 'Wolverine' : 'Logan'}}</span>
  </p>
  <p>
    <button (click)="toggleSpiderManCostume()">{{isSpiderMan ? 'Take off' : 'Put on'}} Spider-Man costume</button>
    <span [class.spider-man]="isSpiderMan"
          [class.superhero]="isSpiderMan">{{isSpiderMan ? 'Spider-Man' : 'Peter Parker'}}</span>
  </p>
  <p>
    <button (click)="toggleIronManCostume()">{{isIronMan ? 'Take off' : 'Put on'}} Iron Man costume</button>
    <span [style.color]="isIronMan ? 'yellow' : 'initial'"
          [style.backgroundColor]="isIronMan ? 'red' : 'initial'"
          [class]="isIronMan ? 'superhero' : ''">{{isIronMan ? 'Iron Man' : 'Tony Stark'}}</span>
  </p>
</div>
