<h1>Directives</h1>

<h2>Structural Directives</h2>
<div>
    Peoples of Middle-earth:
    <ul>
        <li *ngFor="let race of peoples">
            {{race}}
        </li>
    </ul>
</div>

<div>
    Cats or Dogs?
    <button (click)="selectedCat = true; selectedDog = false;">
        Cats
    </button>
    <button (click)="selectedCat = false; selectedDog = true;">
        Dogs
    </button>

    <div *ngIf="selectedCat || selectedDog">
        <img *ngIf="selectedCat" style="height: 100px; width: 100px" src="https://i.kym-cdn.com/entries/icons/facebook/000/000/888/VanillaHappyCat.jpg"/>
        <img *ngIf="selectedDog" style="height: 100px; width: 100px" src="https://i.pinimg.com/originals/8d/ec/f9/8decf9caed777b8d0d698e01270ce308.png"/>
    </div>
</div>

<div *ngIf="true">
    True
</div>

<div *ngIf="false">
    False
</div>

<div>
    <button *ngFor="let p of peoples" (click)="setValue(p)">{{p}}</button>

    <span [ngSwitch]="selected">
        <span *ngSwitchCase="'Elves'">Good</span>
        <span *ngSwitchCase="'Men'">Good</span>
        <span *ngSwitchCase="'Dwarves'">Good</span>
        <span *ngSwitchCase="'Hobbits'">Good</span>
        <span *ngSwitchCase="'Ents'">Good</span>
        <span *ngSwitchCase="'Orcs'">Bad</span>
        <span *ngSwitchCase="'Trolls'">Bad</span>
    </span>
</div>

<h2>Attribute Directives</h2>
<div>
    <p>Don't trust everything you see. Even <span matfHighlight>salt</span> looks like <span matfHighlight>sugar</span>.</p>
</div>

<div>
    <button matfDisable>Disabled button</button>
</div>

<div>
    Captains of the USS Enterprise

    <table>
        <tr matfSpace [shirtColor]="'yellow'">
            <td><img src="https://www.startrek.com/sites/default/files/styles/content_full/public/images/2019-07/89abe98de6071178edb1b28901a8f459.jpg?itok=UEwq0IRl"/></td>
            <td>James T. Kirk</td>
        </tr>
        <tr matfSpace [shirtColor]="'red'">
            <td><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/jean-luc-picard-patrick-stewart-1558012106.jpg?crop=0.751xw:1.00xh;0.202xw,0&resize=480:*"/></td>
            <td>Jean-Luc Picard</td>
        </tr>
    </table>
</div>