<nav>
  <a routerLink="/type-script" routerLinkActive="active">TypeScript</a>
  <a routerLink="/inline-template-component" routerLinkActive="active">Inline Template Component</a>
  <a routerLink="/data-binding" routerLinkActive="active">Data Binding</a>
  <a routerLink="/directives" routerLinkActive="active">Directives</a>
  <a routerLink="/tv" routerLinkActive="active">Watch TV</a>
  <a routerLink="/classes" routerLinkActive="active">Working With Classes</a>
  <a routerLink="/bookstores" routerLinkActive="active">Bookstores</a>
  <a routerLink="/rxjs" routerLinkActive="active">RxJS</a>
</nav>

<router-outlet #routerOutlet="outlet"></router-outlet>
